$base-color: #1d1b55;

body {
	width: 100%;
   	font-family: 'Roboto', sans-serif;
   	box-sizing: border-box;
   	overflow-x: hidden;
}

.nav-background {
	background-color: $base-color;
	opacity: .95;
}
.navbar .container .nav-link:hover{
	transition: 0.5s;
	color: #1A7373;
}
.dropdown:hover .dropdown-menu {
  	display: block;
}
.navbar .dropdown-menu {
  	margin-top: 0;
}
.navbar .dropdown-menu .dropdown-item:hover {
	color: black;
  	background-color: #f7f7f7;
}

.container-fluid {
	padding: 0;
}

.window-png {
	width: 100%;
}

.image-text {
    color: black;
    text-align: left;
    position: absolute;
    top: 40%;
    transform: translate(20%, -40%);

    .h1-image-text span{
      font-size: 3vw;
      display: block;
      width: fit-content;
      padding-left: 5px;
      padding-right: 5px;
    }
}

.saznaj-vise-button {
	opacity: 0.7;
	&:hover {
		transition: 0.3s;
		opacity: 1;
	}
}

@media screen and (max-width: 1025px) {
	.navbar li a {
	  	font-size: 10px; }
}
@media screen and (max-width: 770px) {
	.navbar-brand img {
        width: 100px;
        height: auto;
    }
    .image-text {
		top: 30%;
	}
    .saznaj-vise-button {
		font-size: 10px;
	}
	.window-png {
		width: 40%;
	}
}
@media screen and (max-width: 550px) {
    .saznaj-vise-button {
		font-size: 6px;
	}
}
@media screen and (max-width: 400px) {
    .navbar-brand img {
        width: 60px;
        height: auto;
    }
    .image-text {
		top: 20%;
	}
}

.jumbotron {
	margin-bottom: 0px;
}
.jumbotron-hr {
	background-color: $base-color;
	opacity: .95;
	height: 5px;
}

.card {
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background-color: #aeafb0;
    border: none;
    color: white;
    border-bottom: 5px solid $base-color;
}
.card-icon {
    font-size: 70px; 
}
  
.card-body {
    padding-top: 50px;
}

#map{
    width: 100%;
    height: 300px;
}

.info {
	margin-bottom: 15px;
	color: white;
}
.contact-info {
	margin-bottom: 15px;
	color: black;
}
.footer {
	padding: 20px;
	background-color: #222222;
	hr {
		background-color: #454545;
	}
}
.footer .fab{
	color: white;
	font-size: 30px;
	&:hover{
		transform: scale(1.2, 1.2);
	}
}

.proizvod {
	margin-top: 150px;
	border-bottom: 5px solid $base-color;
}

.o_nama {
	margin-top: 150px;
}

.submit-dugme {
	background-color: $base-color;
	color: white;
}